<section class="presentacion">
  <div class="texto">
    <h2>¡Hola! Soy <span class="nombre">Alejandro Molina</span></h2>
   <p>
  Soy desarrollador web y he finalizado el Grado Superior en Desarrollo de Aplicaciones Multiplataforma (DAM). 
  Actualmente continúo formándome por mi cuenta en Angular y desarrollo web, y estoy realizando la 
  especialización en Inteligencia Artificial y Big Data. 🚀
</p>
    <!-- <button mat-raised-button color="primary">Ver proyectos</button> -->
  </div>
<div class="imagen">
  <img src="assets/img/fotomia.jpg" alt="Probando" />
</div>
</section>
