.presentacion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #e0e0e0;
  animation: fadeIn 1s ease-in-out;

  /* Reemplazamos 'padding: 80px 10%;' por esto: */
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 10%;  /* Mantenemos el 10% a la izquierda */
  padding-right: 5%; /* <-- ¡Reduce esto para mover la imagen a la derecha! */
}

.texto {
  max-width: 500px;
}

.texto h2 {
  font-size: 2.2rem;
  color: #00bfff;
  margin-bottom: 15px;
}

.texto .nombre {
  color: #ffffff;
  text-shadow: 0 0 10px #00bfff;
}

.texto p {
  font-size: 1.1rem;
  color: #b0c4de;
  margin-bottom: 25px;
  line-height: 1.5;
}

.imagen img {
  width: 200px;
  filter: drop-shadow(0 0 20px rgba(0, 162, 255, 0.5));
  animation: flotar 3s ease-in-out infinite;
  padding-left: 50%;
}

@keyframes flotar {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

// button[mat-raised-button] {
//   background-color: #00bfff;
//   color: #fff;
//   font-weight: bold;
//   transition: 0.3s ease;
//   box-shadow: 0 0 10px rgba(0, 162, 255, 0.5);
// }

// button[mat-raised-button]:hover {
//   background-color: #0288d1;
//   box-shadow: 0 0 20px rgba(0, 162, 255, 0.7);
// }
